[submodule "submodules/imgui"]
	path = submodules/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "submodules/tiny_gltf"]
	path = submodules/tiny_gltf
	url = git@github.com:syoyo/tinygltf.git
